<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-6">Products Index</h1>
    <p class="lead">Here are our products.</p>
  </div>
</div>

<div class="card-columns">

  <% @products.each do |product| %>

  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Name: <%= product.name %></h5>
      <p class="card-text">Description: <%= product.description %>
      </p>
      <p class="card-text">Price: <%= product.price %>  
      </p>
      <p class="card-text">Supplier: <%= product.supplier.name%> 
      </p>
      <a href="/products/<%= product.id %>" class="btn btn-light">More Info</a>
    </div>
  <% end %>
</div>


 
</div>


  





